name: Deploy StorageApp Backend

on: [push, workflow_dispatch]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SSH_HOST: 3.110.90.162
      SSH_USER: ubuntu
      REMOTE_APP_DIR: /usr/harish/server-my-drive
      PM2_APP_NAME: server-uvds

    steps:
      # 1. Setup SSH key and known_hosts
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          # Add server host key so SSH does not ask for confirmation
          ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts

      # 2. Deploy to remote server
      - name: Deploy backend on EC2
        run: |
          ssh ubuntu@3.110.90.162 "bash -s" << 'EOF'
            set -e
            
            cd /usr/harish/server-my-drive
            git pull
            npm ci --no-audit --no-fund
            pm2 reload server-uvds
            
            echo "Backend Deployed Successfully..."
          EOF